*.p
PaperScraper/bin
PaperScraper/include
PaperScraper/lib
.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
*.pyc
.vscode
.gitignore~
.DS_Store
**/.DS_Store
venv/
PaperScraper/AAAI/*
PaperScraper/*.p
R_Analysis/.RDataTmp
Dewey2/info.py
Dewey2/.ipynb_checkpoints/
Dewey2/output
